.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      .chat-main__header__leftbox__current-group
        = @group.name
      .chat-main__header__leftbox__member
        = "メンバー："
        - @group.users.each do |user|
          = user.name
        
    .chat-main__header__edit
      = link_to edit_group_path(@group[:id]) do
        Edit

  .chat-main__messages
    =render @messages

  .chat-main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .chat-main__form__contents
        = f.text_field :content, class:"message", placeholder: "type a message"
        .chat-main__form__contents__image-input
          = f.label :image, class: "image-input" do
            = icon('fas', 'image')
            =f.file_field :image, class: "hidden"
      .chat-main__form__submit
        = f.submit "Send", class: "btn"

      